body{
    text-align: center;
    background-color: black;
    color: white;
}

.btn{
    height: 8rem;
    width: 8rem;
    border-radius: 20%;
    border: 10px solid rgba(33, 33, 33, 0.564);
    margin: 2.5rem;
    padding: 1em;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.flash{
    background-color: rgb(0, 0, 0);
}
.userFlash{
    background-color: blue;
}
@media (max-width: 524px) {
    .btn{
        height: 5rem;
        width: 5rem;
        border-radius: 20%;
        border: 10px solid rgba(33, 33, 33, 0.564);
        margin: 2.5rem;
        padding: .5em;
    }
}
.start{
    height: 2rem;
    width: 6rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 251, 251);
    border-radius: 10px;
    font-size: 1.1rem;
}